body {
  font-family: "Merriweather", arial, sans-serif;
  font-size: 1em;
  color: #33332D;
  background-color: #9FB4CC;
}

#header {
  background-color: #FFF8E3;
  text-align:right;
  background: -webkit-gradient(linear, 100 0, 215 0, color-stop(0.1, #CCCC9F), color-stop(0.5, #9FB4CC), color-stop(0.9, #FFF8E3));
  background: -moz-linear-gradient(left, #CCCC9F 10%, #9FB4CC 20%, #FFF8E3 70%);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #DB4105;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

h1 {
  border-bottom: 2px solid #33332D;
  font-size: 2.3em;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-shadow: 2px 2px 4px #CFC8B3;
  padding: 20px;
}
h1 a {
  color: #83837D;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-shadow: 2px 2px 4px #CFC8B3;
}

#post h3 {
  font-weight: bold;
  margin-top: 15px;
}

p {
  padding: 10px;
  line-height: 1.4em;
}

strong {
  font-weight: bold;
}

#main {
}

/* ---------- Index ---------- */

ul.index-posts span {
}
ul.index-posts li {
  margin-bottom: 20px;
}
.preview {
  padding-left: 10px;
  line-height: 1.2em;
}

.title-line {
  margin-bottom: 10px;
}
.title-line a {
  font-weight: bold;
  font-size: 1.2em;
}

.deco {
  font-family: "Tangerine", arial, sans-serif;
  font-size: 3em;
  padding: 0 0 15px 0;
  margin: 0 auto;
  text-align: center;
}


/* ---------- Nav ---------- */

#nav {
  float: right;
  height: 100%;
  padding: 20px 20px 10px 10px;
  width: 340px;
}

#nav h3 {
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 8px 8px 8px;
  margin-bottom: 4px;
  background-color: #CCCC9F;
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 5px;
  text-align: center;
  text-shadow: 2px 2px 4px #CFC8B3;
  box-shadow: 0px 0px 6px #33332D;
  -moz-box-shadow: 0px 0px 6px #33332D;
  -webkit-box-shadow: 0px 0px 6px #33332D;
}

#nav .navblock {
  margin-bottom: 20px;
}
#nav .navblock ul {
  padding: 5px;
}
#nav .navblock p img {
  margin: 0 9px 5px 0;
}
#nav .navblock p {
  line-height: 1.5em;
  font-size: 0.8em;
}
#nav .navblock ul,
#nav .navblock p {
  background-color: #FFF8E3;
  border: 1px solid #DFD8C3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 20px;
  box-shadow: 0px 0px 6px #33332D;
  -moz-box-shadow: 0px 0px 6px #33332D;
  -webkit-box-shadow: 0px 0px 6px #33332D;
}

ul.posts span {
  font-weight: bold;
}
ul.posts li {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 0.9em;
}

ul.posts li span {
  margin-right: 5px;
}

ul.posts li a {
  margin-left: 5px;
}

ul.contact img {
  margin-top: 5px;
}
ul.contact {
  float: left;
}
ul.contact li {
  margin: 5px;
  font-size: 0.9em;
  float: left;
}

/* ---------- Posts ---------- */

#leftOfPost {
  border-left: 150px solid #CCCC9F;
}

#post {
  width: 600px;
  background-color: #FFF8E3;
  border-left: 15px solid #DB4105;
  border-right: 5px solid #DB4105;
  padding: 15px 65px 15px 15px;
  min-height: 1000px;
}

.highlight {
  background-color: #EFE8D3;
  border: 1px solid #DFD8C3;
  padding: 15px;
  overflow-x: auto;
}
code, pre {
  background-color: #EFE8D3;
  font-family: 'Droid Sans Mono', 'Courier New', sans-serif;
  font-size: 0.9em;
  line-height: 1.2em;
}

.shortCode { 
  height: 300px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 10px;
}

#disqus_thread {
  margin-top: 20px;
  border-top: 1px solid #CCC;
  padding-top: 20px;
}
