/* Vaporwave Syntax Highlighting Theme */
/* Fuchsia + Cyan accent colors with warm yellow strings */

.hll { background-color: #252535 }
.c { color: #6A6A8A; font-style: italic } /* Comment */
.err { color: #FF2D95; background-color: #1e0015 } /* Error */
.k { color: #00E5FF } /* Keyword */
.l { color: #B8A0FF } /* Literal */
.n { color: #E8E8F0 } /* Name */
.o { color: #FF2D95 } /* Operator */
.p { color: #E8E8F0 } /* Punctuation */
.cm { color: #6A6A8A; font-style: italic } /* Comment.Multiline */
.cp { color: #FF2D95 } /* Comment.Preproc */
.c1 { color: #6A6A8A; font-style: italic } /* Comment.Single */
.cs { color: #6A6A8A; font-style: italic } /* Comment.Special */
.gd { color: #FF2D95 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gh { color: #E8E8F0; font-weight: bold } /* Generic.Heading */
.gi { color: #00E5FF } /* Generic.Inserted */
.go { color: #6A6A8A } /* Generic.Output */
.gp { color: #FF2D95; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #00E5FF; font-weight: bold } /* Generic.Subheading */
.gt { color: #FF2D95 } /* Generic.Traceback */
.kc { color: #00E5FF } /* Keyword.Constant */
.kd { color: #00E5FF } /* Keyword.Declaration */
.kn { color: #FF2D95 } /* Keyword.Namespace */
.kp { color: #00E5FF } /* Keyword.Pseudo */
.kr { color: #00E5FF } /* Keyword.Reserved */
.kt { color: #00E5FF } /* Keyword.Type */
.ld { color: #FFD166 } /* Literal.Date */
.m { color: #B8A0FF } /* Literal.Number */
.s { color: #FFD166 } /* Literal.String */
.na { color: #00E5FF } /* Name.Attribute */
.nb { color: #E8E8F0 } /* Name.Builtin */
.nc { color: #00E5FF; font-weight: bold } /* Name.Class */
.no { color: #B8A0FF } /* Name.Constant */
.nd { color: #FF2D95 } /* Name.Decorator */
.ni { color: #E8E8F0 } /* Name.Entity */
.ne { color: #FF2D95 } /* Name.Exception */
.nf { color: #00E5FF } /* Name.Function */
.nl { color: #FFD166 } /* Name.Label */
.nn { color: #E8E8F0 } /* Name.Namespace */
.nx { color: #00E5FF } /* Name.Other */
.py { color: #E8E8F0 } /* Name.Property */
.nt { color: #FF2D95 } /* Name.Tag */
.nv { color: #E8E8F0 } /* Name.Variable */
.ow { color: #FF2D95; font-weight: bold } /* Operator.Word */
.w { color: #E8E8F0 } /* Text.Whitespace */
.mf { color: #B8A0FF } /* Literal.Number.Float */
.mh { color: #B8A0FF } /* Literal.Number.Hex */
.mi { color: #B8A0FF } /* Literal.Number.Integer */
.mo { color: #B8A0FF } /* Literal.Number.Oct */
.sb { color: #FFD166 } /* Literal.String.Backtick */
.sc { color: #FFD166 } /* Literal.String.Char */
.sd { color: #6A6A8A; font-style: italic } /* Literal.String.Doc */
.s2 { color: #FFD166 } /* Literal.String.Double */
.se { color: #B8A0FF } /* Literal.String.Escape */
.sh { color: #FFD166 } /* Literal.String.Heredoc */
.si { color: #FF2D95 } /* Literal.String.Interpol */
.sx { color: #FFD166 } /* Literal.String.Other */
.sr { color: #FFD166 } /* Literal.String.Regex */
.s1 { color: #FFD166 } /* Literal.String.Single */
.ss { color: #B8A0FF } /* Literal.String.Symbol */
.bp { color: #E8E8F0 } /* Name.Builtin.Pseudo */
.vc { color: #E8E8F0 } /* Name.Variable.Class */
.vg { color: #E8E8F0 } /* Name.Variable.Global */
.vi { color: #E8E8F0 } /* Name.Variable.Instance */
.il { color: #B8A0FF } /* Literal.Number.Integer.Long */
.fm { color: #00E5FF } /* Name.Function.Magic */
.vm { color: #E8E8F0 } /* Name.Variable.Magic */

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  .hll { background-color: #F0E8F5 }
  .c { color: #7A7A9A } /* Comment */
  .err { color: #D91A78; background-color: #FFF0F5 } /* Error */
  .k { color: #0099AA } /* Keyword */
  .l { color: #7B5DAF } /* Literal */
  .n { color: #1A1A24 } /* Name */
  .o { color: #D91A78 } /* Operator */
  .p { color: #1A1A24 } /* Punctuation */
  .cm { color: #7A7A9A } /* Comment.Multiline */
  .cp { color: #D91A78 } /* Comment.Preproc */
  .c1 { color: #7A7A9A } /* Comment.Single */
  .cs { color: #7A7A9A } /* Comment.Special */
  .gd { color: #D91A78 } /* Generic.Deleted */
  .gh { color: #1A1A24; font-weight: bold } /* Generic.Heading */
  .gi { color: #0099AA } /* Generic.Inserted */
  .go { color: #7A7A9A } /* Generic.Output */
  .gp { color: #D91A78; font-weight: bold } /* Generic.Prompt */
  .gu { color: #0099AA; font-weight: bold } /* Generic.Subheading */
  .gt { color: #D91A78 } /* Generic.Traceback */
  .kc { color: #0099AA } /* Keyword.Constant */
  .kd { color: #0099AA } /* Keyword.Declaration */
  .kn { color: #D91A78 } /* Keyword.Namespace */
  .kp { color: #0099AA } /* Keyword.Pseudo */
  .kr { color: #0099AA } /* Keyword.Reserved */
  .kt { color: #0099AA } /* Keyword.Type */
  .ld { color: #B8860B } /* Literal.Date */
  .m { color: #7B5DAF } /* Literal.Number */
  .s { color: #B8860B } /* Literal.String */
  .na { color: #0099AA } /* Name.Attribute */
  .nb { color: #1A1A24 } /* Name.Builtin */
  .nc { color: #0099AA; font-weight: bold } /* Name.Class */
  .no { color: #7B5DAF } /* Name.Constant */
  .nd { color: #D91A78 } /* Name.Decorator */
  .ni { color: #1A1A24 } /* Name.Entity */
  .ne { color: #D91A78 } /* Name.Exception */
  .nf { color: #0099AA } /* Name.Function */
  .nl { color: #B8860B } /* Name.Label */
  .nn { color: #1A1A24 } /* Name.Namespace */
  .nx { color: #0099AA } /* Name.Other */
  .py { color: #1A1A24 } /* Name.Property */
  .nt { color: #D91A78 } /* Name.Tag */
  .nv { color: #1A1A24 } /* Name.Variable */
  .ow { color: #D91A78; font-weight: bold } /* Operator.Word */
  .w { color: #1A1A24 } /* Text.Whitespace */
  .mf { color: #7B5DAF } /* Literal.Number.Float */
  .mh { color: #7B5DAF } /* Literal.Number.Hex */
  .mi { color: #7B5DAF } /* Literal.Number.Integer */
  .mo { color: #7B5DAF } /* Literal.Number.Oct */
  .sb { color: #B8860B } /* Literal.String.Backtick */
  .sc { color: #B8860B } /* Literal.String.Char */
  .sd { color: #7A7A9A } /* Literal.String.Doc */
  .s2 { color: #B8860B } /* Literal.String.Double */
  .se { color: #7B5DAF } /* Literal.String.Escape */
  .sh { color: #B8860B } /* Literal.String.Heredoc */
  .si { color: #D91A78 } /* Literal.String.Interpol */
  .sx { color: #B8860B } /* Literal.String.Other */
  .sr { color: #B8860B } /* Literal.String.Regex */
  .s1 { color: #B8860B } /* Literal.String.Single */
  .ss { color: #7B5DAF } /* Literal.String.Symbol */
  .bp { color: #1A1A24 } /* Name.Builtin.Pseudo */
  .vc { color: #1A1A24 } /* Name.Variable.Class */
  .vg { color: #1A1A24 } /* Name.Variable.Global */
  .vi { color: #1A1A24 } /* Name.Variable.Instance */
  .il { color: #7B5DAF } /* Literal.Number.Integer.Long */
  .fm { color: #0099AA } /* Name.Function.Magic */
  .vm { color: #1A1A24 } /* Name.Variable.Magic */
}
