<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="/css/pyg_autumn.css" type="text/css"/>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div id="header">
      <h1>Josh Szmajda</h1>
    </div>

    <div id="nav">
      <h3>Archive</h3>
      <ul class="posts">
        {% for post in site.posts %}
        <li>
          <span>{{ post.date | date_to_string }}</span> 
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div id="main">
      {{ content }}
    </div>
  </body>
</html>
